body {
  background-color: #282828;
  color: white;
}
h2 {
  background-color: rgb(223, 145, 0);
  border-radius: 4px;
  margin: 0;
  padding: 0;
}

div.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

button.click-area {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 30px;
  font-weight: bold;
  background-color: white;
  color: blue;
  user-select: none;
}
