* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}
body {
  font-family: sans-serif;
  color: white;
  background: rgb(43, 40, 40);
}
h2 {
  display: flex;
  justify-content: center;
  background-color: #df9100;
  padding: 0px;
  margin: 0px;
}
.controls {
  display: flex;
  justify-content: center;
  background-color: #815400;
}

canvas {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  pointer-events: none;
  overflow: hidden;
}
