.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.app-links {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 20px;
}

.App-link {
  color: rgb(223, 145, 0);
  padding-right: 4px;
  font-size: 12px;
}

.app-content {
  height: calc(100% - 20px);
}

.app-content > div {
  height: 100%;
}
