.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-body {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #09d3ac;
  padding-right: 4px;
}

.app-content {
  height: 100%;
}

.app-content > div {
  height: 100%;
}
